<div class="tile p-5">
    <h1 class=" text-xl font-bold mb-5">
        Transactions - {{ .account.Name }}
    </h1>
    <h2 class=" text-lg font-bold mb-5">
        Balance: {{ .account.Balance }}
    </h2>
    <table class="table-fixed  text-center hover:table-fixed w-full  ">
        <thead>
            <tr>
                <th class="th w-24"></th>
                <th class="th">Date</th>
                <th class="th">Payee</th>
                <th class="th">Memo</th>
                <th class="th">Category</th>
                <th class="th">Value </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr">
                <td class="td p-0 flex flex-wrap">
                    <Button class="rounded border bg-blue-300 p-2 m-0 w-full">
                        Add
                    </Button>
                </td>
                <td class="td">{{ .Date.Format "02.01.2006"
                    }}</td>
                <td class="td">{{ .Payee}}</td>
                <td class="td">{{ .Memo}}</td>
                <td class="td">{{ .Category}}</td>
                <td class="td"></td>
            </tr>
            {{ range .transactions }}
            <tr class="tr">
                <td class="td p-0 block">
                    <label for="a{{.Value}}" class="h-12 block">
                        <input id="a{{.Value}}" class="scale-150 h-10" type="checkbox">
                    </label>
                </td>
                <td class="td">{{ .Date.Format "02.01.2006"
                    }}</td>
                <td class="td">{{ .Payee}}</td>
                <td class="td">{{ .Memo}}</td>
                <td class="td">{{ .Category}}</td>
                <td class="td">{{printf "%.2f" .Value}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>