<!DOCTYPE html>
<html>

{{ template "head.html" "Sign in" }}

<body class="container">
    {{ template "logo.html"}}
    <main class="main">
        {{ template "form-error.html" .error }}
        <div class="mx-auto w-fit tile">
            {{ template "login-form.html" }}
            <div class="text-center pb-5">
                <a href="/register" class=" text-blue-500 hover:text-blue-700 mx-auto">Don't have an
                    account?
                    Sign
                    up</a>
            </div>
        </div>
    </main>
    {{ template "footer.html"}}
</body>

</html>