<!DOCTYPE html>
<html lang="en">
{{ template "head.html" "Panel" }}

<body class="container">
    {{ template "navbar.html" .}}
    <main class="main m-3">
        <div class="w-fit mx-auto">
            {{ template "form-error.html" .ErrMsg }}
        </div>
        {{if not .ErrMsg}}
        <div class="tile w-fit mx-auto italic">
            <p class="bold">Welcome to GoBudget!</p>
            <hr class="my-2 font-bold">
            <p>
                Later you'll be able to see here, some stats, charts regarding
                your
                expenses.
            </p>
            <p>
                Right now you can access your <a href="/panel/accounts">accounts</a>
                and
                <a href="/panel/budgets">budgets</a>
            </p>
        </div>
        {{end}}
    </main>
    {{ template "footer.html" }}
</body>

</html>