<html lang="en">
  <head>
    <title>GoBudget - Panel</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/sizing.css" />
  </head>
  <body>
    <table class="navbar">
      <tbody>
        <tr>
          <td>
            <span class="pagetop">
              <strong> GoBudget </strong>|
              <a href="/panel" class="selected">Panel</a>
              <a href="/panel/accounts">Accounts</a>
              <a href="/panel/budgets">Monthly Budgets</a>
              <a href="/panel/accounts">Weekly Budgets</a>
            </span>
          </td>
          <td class="mx-auto"></td>
          <td>
            <span class="pagetop nav-profile">
              {{ .username}} |
              <a href="/logout">logout</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
