body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

    min-height: 99vh;
    display: flex;
    flex-direction: column;
}


a{
    color: #000000;
}
.navbar-element{
    margin: 2pt 8pt;
    text-decoration: none;
}
.navbar{
    background-color: rgb(0, 153, 255);
    border-color:  rgb(0, 153, 255);
    border-style: solid;
    border-radius: 5pt;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}

.mt-auto{
    margin-top: auto;
}

.nav-profile{
    text-align: right;
}

.ft-text{
    text-align: center;
    font-size: 10pt;
    margin: 0pt 8pt;
}

.pagetop{
 margin: 8px 15px;
 font-size: 20pt;
 line-height: normal;
 display: block;
}

.selected{
    border-bottom: #000000;
    border-bottom-style: solid;
}

.acc-list{
    width: 20%;
    margin: 10pt 5pt;
}

.acc-tile{
    border: #000000;
    border-radius: 10pt;
    border-style: solid;
    font-size: 20pt;
    padding: 5pt;
    margin-bottom: 5pt;
}

.error-message{
    font-size: 12pt;
    background-color: lightcoral;
    border-style: solid;
    border-radius: 5pt;
    width: fit-content;
    padding: 2pt 4pt;
    padding-right: 20pt;
}
.error-title{
    margin: 2px 0px;
}
.error-desc{
    margin: 5px 0px;
}