<table>
    <tbody>
        <tr>
            <td>
                <span class="">
                    <strong> GoBudget </strong>|
                    <a href="/panel" class="navbar-element selected">Panel</a>

                    <a href="/panel/accounts" class="navbar-element">Accounts</a>
                    <a href="/panel/budgets" class="navbar-element">Monthly
                        Budgets</a>

                </span>
            </td>
            <td class="mx-auto"></td>
            <td>
                <span class="pagetop nav-profile">
                    {{ .username}} |
                    <a href="/logout">logout</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>